* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header */
.header {
    background-color: red;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: f;
}

/* Banner Styles */
.banner {
    align-items: center;
    padding: 0 100px;
}
.banner-text{
    text-align: right;
    padding-top: 120px;
}
.banner-tittle {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    margin: 24px 0 32px 0;
}
.btn-primary {
    font-size: 18px;
    font-weight: 600;
    padding: 18px 23px;
    color: white;
    border-radius: 5px;
    border: 0;
    background-color: #f15B22;
}

/* About me secion Styles */
.about-me {
    margin: 150px 100px;
    display: flex;
    gap: 50px;
}
.about-details-text {
    display: flex;
}
.about-tittle {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}
.about-profession {
    color: #F15B22;
}
.about-description {
    font-size: 16px;
    color: #151414;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 20px 0 15px 0px;
}
.about-details-text ul {
    
}
.about-details-text ul li {
    list-style: none;
    margin: 20px 0px;
    color: #444343;
}
.about-btn {
    color: #F8F8F8;
    font-size: 20px;
    font-weight: 600;
    background-color: #F15B22;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 25px;
}
.about-person-img {
}
.about-person-img img {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 450px;
}
.about-image-layer {
    width: 345px;
    height: 450px;
    background-color: white;
    border: 10px solid #F15B22;
    position:relative;
    margin: 10px 10px;
    padding-bottom: 5px;  
}

/* My Failures of prebious year Styles */
.previous-year {
    margin: 130px 100px;
    display: flex;
    align-items: center;
}
.previous-text {
    text-align: left;
    margin: 150px 20px 0 50px;
}
.previous-tittle {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    color: #151414;
}
.previous-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    margin: 24px 0 16px 0;
    text-align: left;
    letter-spacing: 1px;
}
.previous-remarks {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    letter-spacing: 1px;
    text-align: left;
    margin: 10px 0;
}
.previous-text .previous-remarks i {
    color: #16D887;
}

/* MY plans Section Styles */
.my-plans {
    padding: 0 100px;
}
.my-plans h2 {
    text-align: center;
    margin-bottom: 50px
}
.plan-category {
    display: flex;
    justify-content: space-between;
}
.plan-category .web-development {
    text-align: center;
}
.plan-category .java-script {
    text-align: center;
}
.plan-category .smoking-habit {
    text-align: center;
}
.plan-category .e-commerce {
    text-align: center
}
.plan-category h3 {
    font-size: 22px;
    margin: 14px 0 10px 0;
    font-weight: 700;
    color: #151414;
}
.plan-category p {
    font-size: 18px;
    font-weight: 500;
    color: #737272;
}

/* Contact call now section styles */
.contact {
    background: linear-gradient(90deg, #F15B22 0%,  rgba(241 , 91, 34, 0) 100%), url('../images/watch.png');
    /* background-image: url(../images/gradient2.png), url('../images/watch.png'); */
    background-position: center;
    background-size: cover;
    margin: 130px 100px;
    border-radius: 8px;
    /* position: relative; */
}
.contact-text {
    padding: 60px 0 60px 64px;
}
.contact-tittle {
    font-size: 35px;
    color: white;
    font-weight: 700;
}
.contact-btn {
    color: #f15B22;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: white;
    margin-top: 24px;
    border-radius: 5px;
    border: 0;

}

/* Foter styles */
.footer {
    background-color: #151414;
    height: 280px;   
    display:flex ;
    gap: 400px;
    padding: 100px 100px;
    
}
.footer-tittle {
    font-size: 38px;
    color: #F8F8F8;
    font-weight: 700;
}
.footer-subtittle {
    color: #F8F8F8;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px;
}
.social-media i {
    background-color: #F8F8F8;
    width: 50px;
    height: 50pX;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    font-size: 28px;
    line-height: 50px;
    margin: 0px 5px 0px 5px;
}
.social-media .fa-facebook-f {
    color: rgb(59, 33, 228);
}
.social-media .fa-twitter {
    color: #16D887;
}
.social-media .fa-youtube {
    color: red;
}

/* Right side footer */
.subscriber-tittle {
    color: #F8F8F8;
    font-size: 20px;
    font-weight: 600;
}
.subscriber input {
    margin: 25px 0 15px 0;
    border: 1 px solid #F8F8F8;
    background-color: #151414;
    color: #F8F8F8;
    padding: 20px 158px 20px 20px;
    border-radius: 5px;
}
.subscribe-btn {
    color: #F15B22 ;
    background-color: #F8F8F8;
    padding: 18px 30px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;

}